main {
	.imgbox {
		width: 210px;
		height: 158px;
		border-radius: 50%;
		box-shadow: 0px 0px 15px $colorAgua;
		opacity: 0.8;
		transition: all 1.5s;
		&:hover {
			width: 210px;
			height: 158px;
			opacity: 1;
			box-shadow: 0px 0px 10px black;
			border-radius: 5%;
			transition: all 1.5s;
		}
	}
}
